/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.block-salad-tabs-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	.block-salad-tab-titles-container {
		display: flex;
		align-items: center;
		.block-salad-tab-title {
			width: fit-content;
			padding: 16px;
		}
	}
	.block-salad-tab-content-container {
		padding: 16px;
		min-height: 48px;
		width: 100%;
		.block-salad-tab-content.none {
			display: none;
		}
		.block-salad-tab-content.block {
			display: block;
		}
	}
}
